/* YOUR CUSTOM STYLES */
table.table thead th {
    text-align: center;
}
tbody {
    text-align: center;
}

.qty {
    display: block;
    font-size: 30px;
}
table.table td{
    font-size: 30px;
}
.soldout{
    color: white;
}